*,*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 16px/1.5 'Halvetica Neue';
    background-color: #000000;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 5px;
    height: 100%;
}
h1{
    text-align: center;
    font-size: 2.5rem;
}
.timeline{
    background-color: rgba(255, 255, 255, 0.09);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 50px 0;
    max-width: 1300px;
    margin: 2rem auto;
    border-radius: 10px;
    position: relative;
}
@keyframes zoomInOut{
    0%,
    100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
    }
}
.timeline ul li{
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
} 
.timeline ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}
.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 2rem;
    background-color: #0576ff;
    box-shadow: 0px 0px 0px 6px rgb(255 255 255);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #ffffff;
    margin: 1rem 0; 
}
.timeline ul li div::before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}
.timeline ul li div::after{
    content: '';
    position: absolute;
    top: 0;
    background-size: cover;
    width: 200px;
    height: 200px;
    background: url('./bg2.png');
    animation: zoomInOut 8s linear infinite;
    z-index: 299;
}
.timeline ul li:nth-child(odd) div{
    left: 229px;
}
.timeline ul li:nth-child(odd) div::before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    background-color: transparent #000000 transparent transparent;
}
.timeline ul li:nth-child(even) div{
    left: -429px;
}
.timeline ul li:nth-child(even) div::before{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    background-color: transparent transparent transparent #000;
}
li div img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 10px;
    background-color: #0576ff;
    box-shadow: 0px 0px 0px 6px rgb(255 255 255);
    margin-top: -10rem;
}
h3{
    display: block;
    font-size: 1.2rem;
    margin-top: -1rem;
    float: right;
    text-transform: uppercase;
}

.timeline ul li::after{
    transition: background 0.5s ease-in-out;
}
.timeline ul li.in.view::after{
    background-color: #000;
}

li div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(odd) div{
    transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(odd) div{
    transform: translate3d(-200px, 0, 0);
}

li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
   
}
li.not-in-view div{
   
    visibility: hidden;
    opacity: 0;
}

/*---------media screen ---------------*/
/* @media screen and (max-width: 900px){
    .timeline ul li div{
        width: 300px;
    }
    .timeline ul li:nth-child(even) div{
        left: -330px;
    }
}

@media screen and (max-width: 600px){
    .timeline ul li{
        margin-left: 20px;
    }
    .timeline ul li div{
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div{
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before{
        left: 45px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #000 transparent transparent;
    }
} */


.timeline-clippy ul li::after{
    width: 40px;
    height: 40px;
    border-radius: 0;
}
.timeline-rhombus ul li::after{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.timeline-rhombus ul li div::before{
    bottom: 12px;

}
.timeline-rhombus ul li::after{
    clip-path: polygon(50% 0%,61% 35%, 98% 35%,68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%,2% 35%,39% 35%);
}
.timeline-heptagon ul li::after{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 0% 60%, 10% 20%);
}
.timeline-infinite ul li::after{
    animation: scaleAnimation 2s infinite;
}
@keyframes scaleAnimation{
    0%{
        transform: translateX(-50%) scale(1);
    }
    50%{
        transform: translateX(-50%) scale(1.25);
    }
    100%{
        transform: translateX(-50%) scale(1);
    }
}

